@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* 항상 다크 테마 */
  color: rgba(255, 255, 255, 0.87);
  background-color: #000; /* 완전 검정 배경 */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: gray;
  text-decoration: inherit;
}
a:hover {
  color: #93c5fd; /* Tailwind blue-300 */
}
html,
body {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  background-color: #000; /* body도 검정 */
  color: #fff; /* 흰 글씨 */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
}
button:hover {
  cursor: pointer;
}

/* 파이어폭스용 */
input[type="number"] {
  -moz-appearance: textfield;
}

/* 크롬, 엣지, 사파리용 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
